
<h1>Hello <%= @user.email %> and welcome to Kings Books !</h1>
<p> You registered on Kings Books using the following email: <%= @user.email %>.</p>
<p>To access your customer area, log in: <%= @url %>.</p>
<p>See you soon on Kings Books </p>
<p>---------------------------------------------------------------------------------</p>
<h1>Salut <%= @user.email %> et bienvenue chez Kings Books !</h1>
<p>You registered with Kings Books using the following email: <%= @user.email %>.</p>
<p>To access your customer area, log in via: <%= @url %>.</p>
<p>See you soon on Kings Books </p>