<div>
  <% flash.each do |type, msg| %>
    <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show" style="font-size:2em;" role="alert">
      <%= msg %>
    <% end %>
  </div>
  <main>
    <div class="card mb-3" style="margin-left:10em;margin-right:10em;margin-top:1em;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%= @book.url_IMG %>" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="font-size:3em;"><%= @book.name.capitalize %></h5>
            <p class="card-text" style="font-size:2em;">Catégorie : <%= @book.category_id %></p>
            <p class="card-text" style="font-size:2em;"><%= @book.year %></p>
            <p class="card-text"style="font-size:1.5em;"><%= @book.description %></p>
            
            <p class="card-text"><small class="text-muted"><%=  %></small></p>
            <div class="container text-center" style="margin-top:15em;">
              <%= form_for :bookmark, url: mybookmark_path(@book), method: :patch,:html => { :style => 'font-size:2.5em;', :class => 'justify-content-center align-items-center'} do |bookmark| %>
              Current page : <%= bookmark.text_field :current_page, id:'form' %>
                <%= bookmark.submit class: 'btn btn-outline-warning btn-lg btn-form' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center" >
      <div class="row align-items-center">
        <div class="col">
          <button type="button" id ="Page1" class="btn btn-primary" style= "font-size: 2rem;">Page 1</button>
          <%= content_tag :div, '', id: "variablePage1", data: {source: @page.pageOne}%>
        </div>
        <div class="col">
          <button type="button" id ="Page2" class="btn btn-primary" style= "font-size: 2rem;">Page 2</button>
          <%= content_tag :div, '', id: "variablePage2", data: {source: @page.pageTwo}%>
        </div>
        <div class="col">
          <button type="button" id ="Page3" class="btn btn-primary" style= "font-size: 2rem;">Page 3</button>
          <%= content_tag :div, '', id: "variablePage3", data: {source: @page.pageThree}%>
        </div>
        <div class="col">
          <button type="button" id ="Page4" class="btn btn-primary" style= "font-size: 2rem;">Page 4</button>
          <%= content_tag :div, '', id: "variablePage4", data: {source: @page.pageFour}%>
        </div>
        <div class="col">
          <button type="button" id ="Page5" class="btn btn-primary" style= "font-size: 2rem;">Page 5</button>
          <%= content_tag :div, '', id: "variablePage5", data: {source: @page.pageFive}%>
        </div>
        <div class="col">
          <button type="button" id ="Page6" class="btn btn-primary" style= "font-size: 2rem;">Page 6</button>
          <%= content_tag :div, '', id: "variablePage6", data: {source: @page.pageSix}%>
        </div>
        <div class="container-fluid" >
          <div class="card mb-3 text-center" style="margin-left:10em;margin-right:10em;margin-top:1em;">
            <div class="row">
              <div class="col">
                <div class="card-body" style="padding-left:8em;padding-right:8em;">
                  <p id="textBookTitle" style="font-size:3em;">Page 1</p>
                  <p id="textBook" style="font-size:2em;"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
  </footer>
  <script>
    var btn_page1 = document.getElementById("Page1");
    var btn_page2 = document.getElementById("Page2");
    var btn_page3 = document.getElementById("Page3");
    var btn_page4 = document.getElementById("Page4");
    var btn_page5 = document.getElementById("Page5");
    var btn_page6 = document.getElementById("Page6");

    var textBookTitle = document.getElementById("textBookTitle");
    var textBook = document.getElementById("textBook");

    var pageOneContent = document.getElementById("variablePage1").dataset.source
    var pageTwoContent = document.getElementById("variablePage2").dataset.source
    var pageThreeContent = document.getElementById("variablePage3").dataset.source
    var pageFourContent = document.getElementById("variablePage4").dataset.source
    var pageFiveContent = document.getElementById("variablePage5").dataset.source
    var pageSixContent = document.getElementById("variablePage6").dataset.source




    var form = document.getElementById("form")


  


    console.log(form.value)
    if (form.value === 1){
      textBook.innerHTML = pageOneContent;
      } else if (form.value === 2){
        textBook.innerHTML = pageTwoContent;
        console.log(form.value);
      } else if (form.value === 3){
        textBook.innerHTML = pageThreeContent;
        console.log(form.value)
      } else {
        console.log("else")
      }





    console.log(form.value)

    var current_page = 1

    textBook.innerHTML = pageOneContent

    btn_page1.addEventListener("click", function(){
           textBook.innerHTML = pageOneContent;
           textBookTitle.innerHTML = "Page 1"
           btn_page1.style.background = 'green'
           btn_page2.style.background = 'blue'
           btn_page3.style.background = 'blue'
           btn_page4.style.background = 'blue'
           btn_page5.style.background = 'blue'
           btn_page6.style.background = 'blue'
           current_page = 1
           form.value = current_page
           console.log(current_page)



       });
    btn_page2.addEventListener("click", function(){
           textBook.innerHTML = pageTwoContent;
           textBookTitle.innerHTML = "Page 2"
           btn_page2.style.background = 'green'
           btn_page1.style.background = 'blue'
           btn_page3.style.background = 'blue'
           btn_page4.style.background = 'blue'
           btn_page5.style.background = 'blue'
           btn_page6.style.background = 'blue'
           current_page = 2
           form.value = current_page
           console.log(current_page)

       });
     btn_page3.addEventListener("click", function(){
           textBook.innerHTML = pageThreeContent;
           textBookTitle.innerHTML = "Page 3"
           btn_page3.style.background = 'green'
           btn_page1.style.background = 'blue'
           btn_page2.style.background = 'blue'
           btn_page4.style.background = 'blue'
           btn_page5.style.background = 'blue'
           btn_page6.style.background = 'blue'
           current_page = 3
           form.value = current_page
           console.log(current_page)

       });
       btn_page4.addEventListener("click", function(){
           textBook.innerHTML = pageFourContent;
           textBookTitle.innerHTML = "Page 4"
           btn_page4.style.background = 'green'
           btn_page3.style.background = 'blue'
           btn_page1.style.background = 'blue'
           btn_page2.style.background = 'blue'
           btn_page5.style.background = 'blue'
           btn_page6.style.background = 'blue'
           current_page = 4
           form.value = current_page
           console.log(current_page)

       });
       btn_page5.addEventListener("click", function(){
           textBook.innerHTML = pageFiveContent;
           textBookTitle.innerHTML = "Page 5"
           btn_page5.style.background = 'green'
           btn_page3.style.background = 'blue'
           btn_page1.style.background = 'blue'
           btn_page2.style.background = 'blue'
           btn_page4.style.background = 'blue'
           btn_page6.style.background = 'blue'
           current_page = 5
           form.value = current_page
           console.log(current_page)

       });
       btn_page6.addEventListener("click", function(){
           textBook.innerHTML = pageSixContent;
           textBookTitle.innerHTML = "Page 6"
           btn_page5.style.background = 'blue'
           btn_page3.style.background = 'blue'
           btn_page1.style.background = 'blue'
           btn_page2.style.background = 'blue'
           btn_page4.style.background = 'blue'
           btn_page6.style.background = 'green'
           current_page = 6
           form.value = current_page
           console.log(current_page)

       });
  </script>
